ECMWF_*
EXSEG1.nam
PGD_*
IROIS*
OUTPUT*
PRESSURE
REMAP*
file*
output*

croco* 
namcouple*
rst_*
rmp*

areas.nc
debug.root.01
debug.root.02
grids.nc
lucia.01.000000
lucia.02.000000
masks.nc
nout.000000

ST4TABUHF2.bin
debug.notroot.01
debug.root.03
log.ww3
lucia.01.000001
lucia.03.000000
mapsta.ww3
mask.ww3
mesonh.exe
mod_def.ww3
nest.ww3
out_grd.ww3
restart.ww3
ww3_shel.exe
ww3_shel.nml
ww3_shel.nml.log

