ECMWF_*
EXSEG1.nam
PGD_*
IROIS*
OUTPUT*
PRESSURE
REMAP*
file*
output*

croco* 
namcouple*
rst_*
rmp*

areas.nc
debug.root.01
debug.root.02
grids.nc
lucia.01.000000
lucia.02.000000
masks.nc
nout.000000

